In [1]:
from pathlib import Path
import pandas as pd

def format_with_commas(x):
    return '{:,.0f}'.format(x)

pd.options.display.float_format = format_with_commas

file_paths = [
    Path("IHME-GBD_2000_2019_DATA_DEPRESSION.csv")
]

dfs = pd.read_csv(file_paths[0])
location_depression_2000_2019 = dfs.drop(columns=['upper', 'lower','location_id','sex_id','age_id','measure_id','metric_id','metric_name', 'measure_name', 'cause_id']) \
                             .query('cause_name == "Depressive disorders"') \
                             .rename(columns={'age_name': 'Age Group', 'location_name': 'Location', 'sex_name': 'Gender', 'year_id': 'Year', 'cause_name': 'Disorder', 'val': 'Nbr. Cases in Pop.'}) \
                             .reset_index(drop=True)

location_depression_2000_2019

# output_csv_path ="GBD_Depression_Data_2000_2019.csv"
# location_depression_2000_2019.to_csv(output_csv_path, index=False, encoding='utf-8')

,Location,Gender,Age Group,Disorder,year,Nbr. Cases in Pop.
0,Solomon Islands,Both,All ages,Depressive disorders,2000,"10,443"
1,Solomon Islands,Both,All ages,Depressive disorders,2001,"10,718"
2,Solomon Islands,Both,All ages,Depressive disorders,2002,"10,984"
3,Solomon Islands,Both,All ages,Depressive disorders,2003,"11,243"
4,Solomon Islands,Both,All ages,Depressive disorders,2004,"11,503"
...,...,...,...,...,...,...
14775,Zacatecas,Both,All ages,Depressive disorders,2019,"56,617"
14776,Zanjan,Both,All ages,Depressive disorders,2016,"61,715"
14777,Zanjan,Both,All ages,Depressive disorders,2017,"62,015"
14778,Zanjan,Both,All ages,Depressive disorders,2018,"61,671"
14779,Zanjan,Both,All ages,Depressive disorders,2019,"60,553"